body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9_B3dL9b4KAzOHVSj9hvqnEvA4IiqJdpFYA&usqp=CAU);
  background-size: auto;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  width: 1000px;
  border: solid rgb(255, 255, 255);
  margin: auto;
}

.scores {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  font-size: 23px;
  color: white;
  font-size: 2em;
  /* border: solid white; */
}

.title {
  color: white;
  text-align: center;
  font-size: 3em;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  animation: color;
  background-color: rgb(9, 9, 10);
  /* background-size: contain; */
  animation-duration: 4s;
}

.cardsize {
  width: 150px;
  height: 150px;
  cursor: alias;
}

@keyframes color {
  /* from {background-color: black;}
                to {background-color: rgb(201, 26, 201);} */
  0% {
    background-color: rgb(231, 18, 18);
  }
  25% {
    background-color: orangered;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: rgb(26, 201, 146);
  }
}
